[gcode_macro GET_ESTEPS]
description: Get e-steps from rotation distance
gcode:
  {% set ROTATION_DISTANCE = params.ROTATION_DISTANCE|default(printer.extruder.rotation_distance)|float %} # None existant var
  {% set MICROSTEPS = params.MICROSTEPS|default(16)|int %} # None existant var
  #{% set STEPPER_DEGREE = params.STEPPER_DEGREE|default(1.8)|float %} # can be used to calculate full_steps_per_rotation :360/1.8=200
  {% set FULL_STEPS_PER_ROTATION = params.FULL_STEPS_PER_ROTATION|default(200)|int %} # None existant var

  {% set STEPS_PER_MM = (MICROSTEPS / ROTATION_DISTANCE) * FULL_STEPS_PER_ROTATION %}

  RESPOND PREFIX="e-steps(steps per mm): " MSG="{STEPS_PER_MM}"

[gcode_macro GET_ROTATION_DISTANCE]
description: Get rotation distance from e-steps
gcode:
  {% set STEPS_PER_MM = params.STEPS_PER_MM|default(0)|float %}
  {% set MICROSTEPS = params.MICROSTEPS|default(16)|int %} # None existant var: printer.extruder.microsteps
  #{% set STEPPER_DEGREE = params.STEPPER_DEGREE|default(1.8)|float %} # can be used to calculate full_steps_per_rotation :360/1.8=200
  {% set FULL_STEPS_PER_ROTATION = params.FULL_STEPS_PER_ROTATION|default(200)|int %} # none existant var: printer.extruder.full_steps_per_rotation

  {% if STEPS_PER_MM == 0 %}
    RESPOND PREFIX="Error: " MSG="STEPS_PER_MM not set"
  {% else %}
    {% set ROTATION_DISTANCE = FULL_STEPS_PER_ROTATION * MICROSTEPS / STEPS_PER_MM %}
    RESPOND PREFIX="rotation distance: " MSG="{ROTATION_DISTANCE}"
  {% endif %}

[gcode_macro CALCULATE_ROTATION_DISTANCE]
gcode:
	{% set PREVIOUS_ROTATION_DISTANCE = params.PREV|default(0)|float %} # previeous value (ex 34.4086 (estep 93))
	{% set INITIAL_MARK_DISTANCE = params.INIT_DIST|default(0)|float %} # placement of mark (ex 120mm)
	{% set SUBSEQUENT_MARK_DISTANCE = params.SUBS_DIST|default(0)|float %} # readings to mark after extruding (ex 25mm)
	{% set REQUESTED_EXTRUDER_DISTANCE = params.REQ_DIST|default(0)|float %} # distance that you requezsted by command (ex 100mm)

	{% if PREVIOUS_ROTATION_DISTANCE != 0 and INITIAL_MARK_DISTANCE != 0 and SUBSEQUENT_MARK_DISTANCE != 0 and REQUESTED_EXTRUDER_DISTANCE != 0 %}
		{% set ACTUAL_EXTRUDER_DISTANCE = INITIAL_MARK_DISTANCE - SUBSEQUENT_MARK_DISTANCE %}
		{% set ROTATION_DISTANCE = PREVIOUS_ROTATION_DISTANCE * ACTUAL_EXTRUDER_DISTANCE / REQUESTED_EXTRUDER_DISTANCE %}
		RESPOND PREFIX="CALCULATE_ROTATION_DISTANCE: " MSG="{ROTATION_DISTANCE}"
	{% else %}
		RESPOND PREFIX="CALCULATE_ROTATION_DISTANCE: " MSG="not all parameters are set"
		RESPOND PREFIX="  PREV: " MSG="{PREVIOUS_ROTATION_DISTANCE} (ex 34.4086)"
		RESPOND PREFIX="  INIT_DIST: " MSG="{INITIAL_MARK_DISTANCE} (ex 120mm)"
		RESPOND PREFIX="  SUBS_DIST: " MSG="{SUBSEQUENT_MARK_DISTANCE} (ex 25mm)"
		RESPOND PREFIX="  REQ_DIST: " MSG="{REQUESTED_EXTRUDER_DISTANCE} (ex 100mm)"
	{% endif %}

